# Django
Django==5.0.3
djangorestframework==3.15.1
markdown
django-filter
django-dotenv==1.4.2
python-dotenv==1.0.1
django-cors-headers==4.3.1

# asgi
asgiref==3.7.2

# DB
sqlparse==0.4.4
psycopg2-binary==2.9.9
psycopg2==2.9.9

# gemini
google-generativeai
google-cloud-aiplatform

# celery
celery==5.4.0
django-celery-beat==2.6.0
django-celery-results==2.5.1
flower

# redis
redis==5.0.4